<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Test homepage</h2>
    <form action="/film_list/" method = "GET">
        <label for="searchInput">Search:</label>
        <input type="text" name="searchTerm" id="searchInput">
        <button type="Search">Search</button>
    </form>
</body>
</html>