<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Percentage Count</title>
</head>
<body>
    <h2>Movie vs TV Shows Comparision</h2>
    <ul>
        <li>Total Movies: <%= resultsOutput[0].count %> </li>
        <li>Total TV Shows: <%= resultsOutput[1].count %> </li>
        <li>Percentage of Movies: <%= resultsOutput[0].percentage %> %</li>
        <li>Percentage of TV Shows: <%= resultsOutput[1].percentage %> %</li>
    </ul>
</body>
</html>